In [8]:
import pandas as pd
import mysql.connector
import re
conn = mysql.connector.connect(username= "root",
                               host = "127.0.0.1",
                               password = "Ananthu@123",
                               database = "data_spark")

cursor = conn.cursor()

In [9]:
df_exchange = pd.read_csv('Exchange_Rates.csv')

df_exchange.columns = df_exchange.columns.str.lower()

df_exchange['date'] = pd.to_datetime(df_exchange['date'])

In [10]:
df_exchange.head()

        date currency  exchange
0 2015-01-01      USD    1.0000
1 2015-01-01      CAD    1.1583
2 2015-01-01      AUD    1.2214
3 2015-01-01      EUR    0.8237
4 2015-01-01      GBP    0.6415

In [12]:
create_exchange_table = """CREATE TABLE exchange_rates (
    date DATE NOT NULL,
    currency VARCHAR(10) NOT NULL,
    exchange DECIMAL(10, 4) NOT NULL
);"""
cursor.execute(create_exchange_table)
conn.commit()

In [14]:
import pymysql  # Ensure pymysql is installed (pip install pymysql)
import pandas as pd

# Sample DataFrame (uncomment and populate with your actual data)
# df_exchange = pd.DataFrame({
#     'date': [...],
#     'currency': [...],
#     'exchange': [...]
# })

# Establish connection to the database
conn = pymysql.connect(
    host='127.0.0.1',
    user='root',
    password='Ananthu@123',
    database='data_spark'
)

# Create a cursor object to interact with the database
cursor = conn.cursor()

# SQL query to insert data into the exchange_rates table
insert_exchange_values = '''
INSERT INTO exchange_rates (date, currency, exchange)
VALUES (%s, %s, %s)
'''

# Iterate over each row in the DataFrame and execute the INSERT statement
for index, row in df_exchange.iterrows():
    cursor.execute(insert_exchange_values, (
        row['date'],
        row['currency'],
        row['exchange']
    ))

# Commit the transaction to save the changes to the database
conn.commit()

# Close the cursor and connection to clean up resources
cursor.close()
conn.close()